<h2>500 Internal Server Error</h2>
大変申し訳ございませんが、サーバー上でエラーが発生しました。
時間をおいて、再度アクセス頂き、それでも解決しない場合は管理者にお問い合わせください。
<br /><br />
( <%= link_to 'GitHub', 'https://github.com/taichanne30/kitbucket', class: %w[kit-hl] %>にissueを立てて頂くことで、開発の助けになります。 )