<nav class="topics">
  <%= link_to 'トップ', root_path %>
  <%= link_to 'アプリ一覧', apps_path %>
</nav>

<% @packages.each  do |pkg| %>
  <%= render 'package_summary', pkg: pkg %>
<% end %>
<%= link_to 'アプリを登録する', new_app_path, class:%i[kit-button-alt] %>